body {
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(238, 238, 238);
}

main {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: Avalon,sans-serif;
  letter-spacing: -.015em;
  line-height: 1.1;
  color: white;
  font-weight: 700;
}

h3 {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  font-family: Avalon,sans-serif;
  font-size: 28px;
  letter-spacing: -.015em;
  margin-bottom: 20px;
  margin-top: 30px;
}

h4 a {
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

h5 {
  font-size: 14px;
  color: white;
  font-family: Shentox,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

i {
  margin-left: 6px;
  vertical-align: middle;
}

.top {
  display: flex;
  background-color: white;
}

.top-menu {
  display: flex;
  flex-basis: 100%;
}

.navbar {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
}

.top-links, .navbar ul {
  display: none;
}

.top-logo a {
  box-sizing: border-box;
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  display: block;
  height: 48px;
  padding: 16px 20px;
  width: 106px;
}

.top-logo img {
  height: 16px;
  width: 66px;
}

.search {
  display: flex;
  align-items: center;
}

.search a {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 48px;
  color: inherit;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(238, 238, 238);
}

.search i {
  font-size: 18px;
  margin-left: 0;
}

.search .fa-search {
  color: rgb(170, 170, 170);
}

.search .fa-search:hover {
  color: rgb(100, 100, 100);
}

.search .fa-bars {
  color: #f42;
}

.cover-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4px;
  min-height: 30vh;
  background-size: cover;
  background-position: 50%;
  margin: 10px;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

.inside-cover-article {
  padding: 0 12px 14px 12px;
}

.cover-article p, .cover-article p a {
  color: hsla(0,0%,100%,.6);
  font-size: 12px;
  line-height: 16px;

}

.uber-article {
  background-image: linear-gradient(#0000, #000f), url("../images/uber-article.jpg")
}

.google-article {
  background-image: linear-gradient(#0000, #000f), url("../images/google-article.jpg");
}

.crypto-article {
  background-image: linear-gradient(#0000, #000f),  url("../images/crypto-article.jpg");
}

.middle {
  margin: 0 20px;
  max-width: 1192px;
}

.latest-news article {
  height: 75px;
  padding: 8px 0;
}

.ln-image {
  background-size: cover;
  background-position: 50%;
  width: 75px;
  padding-top: 75px;
  display: block;
  float: left;
  margin-right: 13px;
}

.author, .author a {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}

.author span {
  margin: 0 6px;
}

.power-article {
  background-image: url("../images/power-article.jpg");
}

.facebook-article {
  background-image: url("../images/facebook-article.png");
}

.adobe-article {
  background-image: url("../images/adobe-article.jpg");
}

.quantum-article {
  background-image: url("../images/quantum-article.jpg");
}

.airpods-article {
  background-image: url("../images/airpods-article.jpg");
}

.fotor-article {
  background-image: url("../images/fotor-article.jpg");
}

.content-article {
  background-image: url("../images/content-article.png");
}

.bitcointt-article {
  background-image: url("../images/bitcointt-article.jpg");
}

.latest-funding li {
  padding-top: 14px;
  font-size: 14px;
}

.latest-funding a {
  color: #f42;
}

.latest-funding article {
  box-sizing: border-box;
  background: #fffaf8;
  margin-top: 20px;
}

.latest-funding article:last-child {
  display: none;
}

.latest-funding img {
  float: left;
  margin: 10px;
}

.latest-funding .funding {
  background: rgba(255,68,34,.08);
  padding: 10px;
}

.funding .amount {
  font-size: 18px;
  font-weight: 700;
}

.funding .funding-type {
  font-family: Shentox,sans-serif;
  font-size: 11px;
  font-weight: 500;
  padding-top: 5px;
  color: black;
  opacity: 0.5;
}

.latest-funding h6 {
  font-size: 18px;
  background-color: #f42;
  font-weight: 700;
  padding: 10px;
}

.latest-funding h6 a {
  color: white;
}

.latest-funding article ul {
  padding: 15px;
}
.latest-funding li {
  font-size: 13px;
  color: #555;
}

.latest-funding i {
  font-size: 18px;
  color: black;
  width: 20px;
}

.latest-funding .funding-info {
  border-top: 1px solid rgba(255,68,34,.25);
  padding: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

.latest-funding .on {
  font-size: 12px;
  color: #aaa;
}


@media (min-width: 767px) {
  .top-logo a {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .top-menu {
    flex-direction: column;
  }

  .top-links, .navbar ul {
    display: flex;
  }

  .top-links {
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
    justify-content: space-between;
    color: hsla(0,0%,100%,.6);
    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    padding-left: 10px;
    padding-right: 20px;
  }

  .top-links li {
    display: inline;
    margin-left: 12px;
  }

  .navbar {
    justify-content: space-between;
    font-family: Shentox, sans-serif;
    color: rgb(170, 170, 170);
    flex-basis: 48px;
  }

  .navbar li {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .navbar a {
    color: inherit;
  }

  .navbar a:hover {
    color: black;
  }

  .search a:last-child {
    display: none;
  }

  .cover {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    margin: 10px;
  }

  .cover article {
    display: flex;
    height: calc(50% - 5px);
    width: calc(33.33% - 5px);
  }

  .cover article:first-child {
    display: flex;
    height: 100%;
    width: calc(66.66% - 5px);
    margin-right: 10px;
  }

  .cover article:last-child {
    margin-top: 10px;
  }

  .cover-article {
    margin: 0;
    padding: 0;
    min-height: 40%;
    width: 100%;
  }

  .latest-news div {
    display: flex;
    flex-wrap: wrap;
  }

  .latest-news article {
    flex-basis: calc(33.33% - 20px);
    padding: 10px;
    height: 33.33%;
  }

  .ln-image {
    float: none;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 8px;
  }

  .latest-funding .header-container li {
    font-size: 16px;
    display: inline;
  }

  .latest-funding .header-container a {
    padding-right: 10px;
    border-right: 1px solid #f42;
    padding-left: 10px;
  }

  .latest-funding li:first-child a {
    padding-left: 0;
  }

  .latest-funding li:last-child a {
    border-right: 0;
  }

  .latest-funding .articles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .latest-funding article {
    flex-basis: calc(33% - 12px);
  }
}

@media (min-width: 1024px) {
  .cover {
    height: 75vh;
  }

  .latest-news article {
    flex-basis: calc(25% - 20px);
    height: 50%;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .latest-funding article:last-child {
    display: block;
  }

  .latest-funding article {
    flex-basis: calc(25% - 18px);
  }

}

@media (min-width: 1192px) {
  .middle {
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .cover {
    height: 60vh;
  }
}
