h2 {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: Avalon,sans-serif;
  letter-spacing: -.015em;
  line-height: 1.1;
  color: white;
}

h5 {
  color: white;
  font-family: Shentox,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
}

@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
}

.cover-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4px;
  width: 100%;
  min-height: 30vh;
  float: left;
  background-size: cover;
  background-position: 50%;
  margin: 10px;
}

.uber-article {
  background-image: url("../images/uber-article.jpg");
}

.google-article {
  background-image: url("../images/google-article.jpg");
}

.crypto-article {
  background-image: url("../images/crypto-article.jpg");
}

